# Archivos de Gradle
.gradle/
build/
*/build/
app/build/

# Archivos locales
local.properties
*.iml
.idea/
.DS_Store

# Archivos de Android Studio
/captures/
.externalNativeBuild/
.cxx/
.navigation/

# Firebase
# google-services.json

# Archivos del sistema
*.log
*.lock